<footer class="legacy-footer">
  <section class="legacy-footer-content">
    <div class="legacy-footer-social">
      <a
        href="https://twitter.com/sethcharleston"
        class="fa fa-twitter"
        aria-label="Twitter"
        target="_blank"
        rel="noopener"
      ></a>
      <a
        href="https://www.facebook.com/sethcharlestonmusic/"
        class="fa fa-facebook"
        aria-label="Facebook"
        target="_blank"
        rel="noopener"
      ></a>
      <a
        href="https://www.instagram.com/sethcharleston/"
        class="fa fa-instagram"
        aria-label="Instagram"
        target="_blank"
        rel="noopener"
      ></a>
      <a
        href="https://open.spotify.com/artist/1A5BJhYP6UBWnqVhuJnTqy"
        class="fa fa-spotify"
        aria-label="Spotify"
        target="_blank"
        rel="noopener"
      ></a>
      <a
        href="https://www.youtube.com/channel/UC1F4-aWEuIr2PRG2BP5qZDA"
        class="fa fa-youtube"
        aria-label="YouTube"
        target="_blank"
        rel="noopener"
      ></a>
    </div>
    <div class="legacy-footer-signup">
      <h2>Sign-up for my mailing list!</h2>
      <form
        action="https://sethcharleston.us19.list-manage.com/subscribe/post?u=0c8404aae0a66221037b9174b&amp;id=e6ff11268b"
        method="post"
        target="_blank"
      >
        <label class="sr-only" for="footer-name">First name</label>
        <input
          id="footer-name"
          name="FNAME"
          type="text"
          placeholder="First Name"
        />
        <label class="sr-only" for="footer-email">Email address</label>
        <input
          id="footer-email"
          name="EMAIL"
          type="email"
          placeholder="Email Address"
          required
        />
        <input
          class="absolute left-[-5000px]"
          aria-hidden="true"
          tabindex="-1"
          type="text"
          name="b_0c8404aae0a66221037b9174b_e6ff11268b"
        />
        <button type="submit">Subscribe</button>
      </form>
    </div>
    <div class="legacy-footer-links">
      <a href="mailto:seth.charleston@gmail.com">Booking</a><br /><br />
      <a href="mailto:arthur.sommer@gmail.com"
        >Web Developement By Arthur Sommer</a
      >
    </div>
  </section>
  <section class="legacy-footer-image">
    <img src="photos/NEW Footer Photo (7.21.23).png" alt="Seth Charleston" />
  </section>
</footer>
