<nav class="site-nav" aria-label="Main navigation">
  <div class="nav-shell">
    <div class="hidden items-stretch justify-center lg:flex">
      <a class="nav-link nav-about px-4 py-2" href="about.html">About</a>
      <a class="nav-link nav-music px-4 py-2" href="music.html">Music</a>
      <a class="nav-link nav-shows px-4 py-2" href="shows.html">Shows</a>
      <a class="nav-link nav-services px-4 py-2" href="services.html"
        >Services</a
      >
    </div>
    <a class="justify-self-center" href="index.html"
      ><img
        class="h-9 w-auto lg:h-11"
        src="photos/Seth_Charleston_Logo.png"
        alt="Seth Charleston"
    /></a>
    <div class="hidden justify-center lg:flex">
      <a
        class="social-link fa fa-twitter"
        aria-label="Twitter"
        href="https://twitter.com/sethcharleston"
        target="_blank"
        rel="noopener"
      ></a>
      <a
        class="social-link fa fa-facebook"
        aria-label="Facebook"
        href="https://www.facebook.com/sethcharlestonmusic/"
        target="_blank"
        rel="noopener"
      ></a>
      <a
        class="social-link fa fa-instagram"
        aria-label="Instagram"
        href="https://www.instagram.com/sethcharleston/"
        target="_blank"
        rel="noopener"
      ></a>
      <a
        class="social-link fa fa-spotify"
        aria-label="Spotify"
        href="https://open.spotify.com/artist/1A5BJhYP6UBWnqVhuJnTqy"
        target="_blank"
        rel="noopener"
      ></a>
      <a
        class="social-link fa fa-youtube"
        aria-label="YouTube"
        href="https://www.youtube.com/channel/UC1F4-aWEuIr2PRG2BP5qZDA"
        target="_blank"
        rel="noopener"
      ></a>
    </div>
    <details class="group lg:hidden">
      <summary class="cursor-pointer list-none text-3xl" aria-label="Open menu">
        ☰
      </summary>
      <div
        class="absolute left-0 top-full flex w-full flex-col gap-4 bg-stone-900 px-6 py-6 text-center font-display text-3xl"
      >
        <a href="about.html">About</a><a href="music.html">Music</a
        ><a href="shows.html">Shows</a><a href="services.html">Services</a>
      </div>
    </details>
  </div>
</nav>
