html {
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  height: 100%;
}

body section {
  text-align: center;
  height: 100%;
}
body section div input {
  padding: 5px; margin: 5px;
}
body section p {
  padding: 20px;
  margin: 20px;
}
section iframe {
  height: 99vh;

}
@media screen and (max-width: 500px) {
  body {
    grid-template-columns: 1fr;
  }
}
